{{#link-to "books.show" model tagName='tr' }}
  <td class="properties__data">{{gr-display-field model=model field='id' }}</td>
    <td class="properties__data">{{gr-display-field model=model field='title' }}</td>
  <td class="properties__data">{{gr-display-field model=model field='isbn' }}</td>
    
{{/link-to}}
