{{#link-to "authors.show" model tagName='tr' }}
  <td class="properties__data">{{gr-display-field model=model field='id' }}</td>
    <td class="properties__data">{{gr-display-field model=model field='name' }}</td>
  <td class="properties__data">{{gr-display-field model=model field='book' }}</td>
    
{{/link-to}}
