@import "fonts";
@import "ember-power-select";
@import 'default';
@import 'mixin';
@import 'index';
@import 'edit';
@import 'new';
@import 'show';

.main-content {
  background: transparent;
  margin: 2%;
  padding: 1%;
}

.navbar {
  padding: 1%;
  background: $mainColor;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-size: 80%;

  .title {
    color: white;
    cursor: pointer;
    display: inline-block;
  }

  .navigation-menu {
    float: right;
    width: 20%;
    display: inline-block;
  }
}
