@import 'default';
@import 'mixin';
@import 'index';
@import 'edit';
@import 'new';
@import 'show';

.main-content {
  background: transparent;
  margin: 2%;
  padding: 1%;
}

.navbar {
  padding: 1%;
  background: crimson;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-size: 80%;
}

.navigation-menu {
  float: left;
  width: 15%;

  ul {
    padding: 10%;
    color: black;
    list-style: none;

    li {
      text-transform: capitalize;
      word-wrap: break-word;
      cursor: pointer;
      @include transition(all 0.35s ease);

      &:hover {
        color: crimson;
      }

      &:not(:first-child) {
        margin-top: 4%;
      }
    }
  }
}
