@import 'css/font-awesome.min.css';
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-style: normal;
	src:
			 url('fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff2') format('woff2'),
			 url('fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff') format('woff'),
			 url('fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.ttf') format('truetype'),
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-style: normal;
	src:
			 url('fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2') format('woff2'),
			 url('fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff') format('woff'),
			 url('fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf') format('truetype'),
}
@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 700;
	font-style: normal;
	src:
			 url('fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff2') format('woff2'),
			 url('fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff') format('woff'),
			 url('fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.ttf') format('truetype'),
}
