// For resource/index.hbs

.content {
  text-align: center;

  table {
    tbody {
      tr {
        cursor: pointer;
      }

      ul {
        list-style: square inside;

        li {
          .content-string {
            display: inline-block;
          }

          span {
            font-style: italic;
            color: #666;

            .language-string {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .empty {
    padding-left: 10%;
    a {
      font-weight: 400;
    }
  }
}
// For index.hbs default route
.index {
  text-align: center;
}
