.new {
  text-align: center;

  table {
    width: 40%;

    tbody {
      tr {
        input {
          width: 95%;
        }

        .checkbox {
          margin-left: 2%;

          input {
            width: auto;
          }
        }
      }
    }
  }
}
