.new {
  text-align: center;

  .title {
    padding-bottom: 1%;
  }

  .actions {
    padding-bottom: 1%;

    .save {
      &:after {
        content: "\F00C";
      }
    }

    .cancel {
      &:after {
        content: "\F00D";
      }
    }
  }

  table {
    width: 40%;
    tbody {
      tr {
        input {
          width: 95%;
        }
      }
    }
  }
}
