.details {
  text-align: center;

  .title {
    padding-bottom: 1%;
  }

  .actions {
    padding-bottom: 1%;

    .back {
      &:after {
        content: "\F060";
      }
    }

    .edit {
      &:after {
        content: "\F040";
      }
    }

    .delete {
      &:after {
        content: "\F1F8";
      }
    }
  }
}
