.details {
  text-align: center;

  table {
    margin: 0 auto;
    width: 50%;
    text-align: left;
    border: 1px solid #e8e8e8;
    border-collapse: collapse;

    td,
    th {
      padding: 1% 2%;
      vertical-align: middle;
    }

    thead {
      tr {
        background: #eee;
        text-transform: capitalize;

        td,
        th {
          padding: 2%;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: #eee;
        }
      }
    }
  }
}
