<div class="details">
  <h2 class="title">{{t 'author details'}}</h2>
  <div class="actions">
    {{#link-to "authors" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#unless }}
      {{#link-to "authors.edit" model class="btn edit" title="Edit this item" tagName='button'}}Edit{{/link-to}}
    {{/unless}}
  </div>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    {{display-author-attributes-details model=model}}
  </table>
</div>
