<div class="details">
  <h2 class="title">{{t '<%= entityName %>'}} details</h2>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    {{display-<%= entityName %>-attributes model=model}}
  </table>
</div>
