<div class="content">
  <h2 class="title">{{t 'books'}}</h2>
  <div class="actions">
    {{#link-to "books.new" class="btn new" title="Create new item" tagName='button'}}{{/link-to}}
  </div>
  <table>
    <thead>
      {{display-book-attributes-header model=model}}
    </thead>
    <tbody>
      {{#each model as |item|}}
        {{display-book-attributes-row model=item}}
      {{/each}}
    </tbody>
  </table>
</div>
