<table>
  <th><td>Name</td><td>Value</td></th>
  <tr><td>title</td><td>{{input value=model.title}}</td></tr>
  <tr><td>isbn</td><td>{{input value=model.isbn}}</td></tr>
</table> 
<button {{action 'save' model}}>Save</button>
