<div class="details">
  <h2 class="title">{{t 'book'}} details</h2>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    {{display-book-attributes model=model}}
  </table>
</div>
