<div class="navbar">
  {{#link-to "index" tagName="h1" class="title" }}
    Test Application
  {{/link-to}}
</div>
<div class="navigation-menu">
  {{navigation-menu}}
</div>
<div class="main-content">
  {{outlet}}
</div>
